/* Regole Generali */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Noto Sans Display', sans-serif;
    font-size: 14px;
}

img {
    max-width: 100%;
    display: block;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

a {
    text-decoration: none;
    color: currentColor;
}

/* ////////////////////////////////////// */

header .container{
    max-width: 100%;
    padding: 21px 19px;
    border-bottom: 1px solid lightgray;
}

.container{
    margin: 0 auto;
}

.section{
    padding: 0 150px;
    margin: 10px 100px;
}

.col_3{
    width: calc(100%/3);
}

.col_4{
    width: 33.33%;
}

.col_8{
    width: 66.66%;
}

.col_12{
    width: 100%;
}

.col_6{
    width: 50%;
}

#fr{
    float: right;
}

/* MENU */

.logo{
    float: left;
    height: 16px;
    width: 76px;
    display: block;
}

.row [class^="col"]{
    float: left;
}

.row .col.fr{
    float: right;
}

.col-sx{
    line-height: 27px;   
}


header .col-sx li, header .col-dx li{
    display: inline-block;
    vertical-align: middle;
    padding: 0 22px;    
}

/* MAIN */
/* section1 */

main .container{
    max-width: 100%;
    padding: 50px 50px ;
    background-color: rgb(185,208,229);
    display: block;
    height: 750px;
}

#section1 h1{
    font-size: 70px;
}

#section1 .row p:first-child{
    width: 350px;
    height: 125px;
    margin-top: 30px;
}

#section1 .col_4 a{
    width: 210px;
    margin-bottom: 15px;
}

.icona{
    font-size: 30px;
    margin-top: 40px;
}

.jumbo_img{
    margin-left: 30px;
    transform: translateY(35px);
}

/* section2 */

#section2 .col_12 .titolo_section2{
    font-size: 40px;
    margin-bottom: 40px;
    margin-top: 200px;
}

#section2 .col_12 span{
    margin-right: 10px;
}

#section2 .col_4{
    margin: 30px 20px 30px 0;
    width: 400px;
}

#section2 .col_4 .body_card{
    height: 800px;
}

#section2 .col_12 .body_card{
    height: 200px;
    margin-bottom: 80px;
}

#section2 .col_12{
    width: 1240px;
}

#section2 .col_4 p::after{
    content: "";
    display: block;
    clear: both;
    border-bottom: 1px solid lightgray;
    width: 40px;
    padding-top: 20px;
}

.card4_txt{
    color: black;
}

.card4_txt h4{
    padding: 20px 0;
}

.card4_txt h1{
    display: inline-block;
}

.card4_txt a{
    width: 300px;
    float: right;
}

.titolo_card{
    text-align: center;
    padding: 5px 0;
    font-size: 18px;
    border: 1px solid lightgray;
}

.body_card{
    border: 1px solid lightgray;
    padding: 40px 45px;
}

.body_card h4{
    margin: 10px 0;
}

.body_card span{
    color: grey;
}

.body_card ul{
    margin-top: 30px;
}

.body_card ul li{
    margin: 20px 0;
    list-style-type: none;
}

.body_card p a{
    text-decoration: underline;
    color: #0061FF;   
}

.body_card p{
    margin: 20px 0;
}

.lista_body_card li{
    font-size: 10px;
}

.lista_body_card li i{
    color: #0061FF;
}

/* section3 */

#section3 .col_6 h1{
    font-size: 30px;
    margin-bottom: 20px;
}

#section3 .col_6 p{
    font-size: 20px;
    line-height: 35px;
}

#section3 .col_6 a{
    font-size: 20px;
    width: 200px;
    height: 40px;
    border: 1px solid black;
    line-height: 40px;
   margin-top: 30px;
}

#section3 .col_6:last-child{
    padding-left: 50px;
    padding-top: 30px;
}

#section3{
    margin-bottom: 80px;
}

/* section4 */

#section4 .col_12 h1{
    font-size: 45px;
    margin-bottom: 40px;
}

#section4 .col_4 h3{
    font-size: 30px;
    margin-bottom: 30px;
    margin-top: 10px;
}

#section4 .col_4 p{
    font-size: 18px;
}

#section4 .col_4{
    margin: 0 20px 100px 0;
    width: 400px;
}

#section4{
    margin-bottom: 100px;
}

/* section5 */

#section5 .col_12 h1{
    font-size: 35px;
    margin-bottom: 30px;
}

#section5 .row:nth-child(1) .col_12{
    margin-left: 250px;
}

#section5 .col_12 .scopri{
    font-size: 18px;
    text-decoration: underline;
    color: #0061FF;
}

#section5 .col_12:first-child{
    width: 500px;
}

#section5 .col_3{
    height: 400px;
    width: 400px;
    font-size: 0;
}

#section5 .row:nth-child(2){
    margin-top: 50px;
    width: 100%;
    background-color: rgb(245,245,245);
}

#loghi{
    padding: 30px;
    height: 200px;
    width: 200px;
    fill: white;
}

#section5 .designit{
    background-color: rgb(172,209,160);
    border: 5px solid rgb(213,232,207);
}

#section5 .img1{
    display: inline-block;
}

#section5 .arizona{
    background-color: rgb(89,19,43);
    padding: 50px;
}

#section5 .img2{
    float: right;
}

#section5 .florida{
    background-color: rgb(62,146,201);
}

#section5 .img3{
    display: inline-block;
}

#section5 .topps{
    background-color: rgb(235,59,47);
}

#section5 .img4{
    float: right;
}

#section5 .col_6{
    display: inline-block;
    height: 400px;
    padding: 20px 50px;
}

#section5 .col_6 .designit_titolo{
    height: 100px;
    width: 200px;
}

.trattino::after{
    content: "";
    display: block;
    clear: both;
    border-bottom: 1px solid lightgray;
    width: 40px;
    margin-top: 10px;
}

#section5 .row p:first-of-type{
    margin-bottom: 60px;
    margin-top: 50px;
}

#section5 .bicycle{
    background-color: rgb(196,41,43);
}

#section5 .img5{
    float: left;
}

#section5 .heart{
    background-color: rgb(165,198,225);
    padding: 40px;
}

#section5 .img6{
    display: inline-block;
}

#section5 .planet{
    background-color: rgb(12,20,110);
    padding: 40px;
}

#section5 .img7{
    float: left;
}

#section5 .channel{
    background-color: rgb(254,209,37);
    padding: 40px;
}

#section5 .img8{
    display: inline-block;
}

#section5 .row:nth-child(3) .col_12 h1{
    color: rgb(78,0,32);
    display: inline-block;
    font-size: 40px;
    width: 500px;
    margin-left: 150px;
}

#section5 .row:nth-child(3) .col_12{
    background-color: rgb(165,198,225);
    width: 100%;
    height: 300px;
    padding: 90px;
}

#section5 .row:nth-child(3) .col_12 a{
    width: 300px;
    height: 40px;
    float: right;
    margin-top: 15px;
    line-height: 40px;
    text-align: center;
}


#section5{
    margin-bottom: 100px;
    padding: 0;
}

/* section6 */

#section6 .trattino::after{
    content: "";
    display: block;
    clear: both;
    border-bottom: 1px solid lightgray;
    width: 1000px;
    margin-top: 30px;
    margin-bottom: 30px;
}

#section6 p{
    font-weight: bold;
    display: inline-block;
}

#section6 i{
    float: right;
}

#section6{
    margin-bottom: 150px;
}

/* footer */

footer{
    background-color: black;
    height: 500px;
    color: white;
}

.footer_link{
    padding-left: 150px;
    display: inline-block;
}

.footer_link ul{
    list-style-type: none;
}

.footer_link ul li{
    margin-bottom: 5px;
    font-size: 15px;
}

footer .container{
    padding-top: 100px;
}

.footer_link h2{
    margin-bottom: 20px;
}

footer .trattino::after{
    content: "";
    display: block;
    clear: both;
    border-bottom: 1px solid white;
    width: 150px;
    margin-left: 150px;
    margin-top: 100px;
}


footer .lingua{
    margin-left: 150px;
    color: lightgray;
    margin-top: 50px;
}


 /* BOTTONI */

.button{
    text-align: center;
    padding: 0 20px;
    line-height: 32px; 
    display: block;
    background-color: #0061FF;
    border: 1px solid #0061FF;
    color: white; 
}

.button_white{
    text-align: center;
    padding: 0 20px; 
    display: block;
    background-color: white;
    color: black; 
}




