/* Regole Generali */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Noto Sans Display', sans-serif;
    font-size: 14px;
}

img {
    max-width: 100%;
    display: block;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

a {
    text-decoration: none;
    color: currentColor;
}

/* ////////////////////////////////////// */

header .container{
    max-width: 100%;
    padding: 21px 19px;
    border-bottom: 1px solid lightgray;
}

.container{
    margin: 0 auto;
}

.section{
    padding: 0 15px;
}
 

/* MENU */

.logo{
    float: left;
    height: 16px;
    width: 76px;
    display: block;
}

.row [class^="col"]{
    float: left;
}

.row .col.fr{
    float: right;
}

.col-sx{
    line-height: 27px;   
}


header .col-sx li, header .col-dx li{
    display: inline-block;
    vertical-align: middle;
    padding: 0 22px;    
}

/* MAIN */

main .container{
    max-width: 100%;
    padding: 50px 50px ;
    background-color: rgb(185,208,229);
    display: block;
    height: 750px;
}

main .row{
    margin: 10px 100px;
}

main .row h1{
    font-size: 70px;
}

main .row p:first-child{
    width: 350px;
    height: 125px;
    margin-top: 30px;
}

.col_4{
    width: 33.33%;
}

.col_8{
    width: 66.66%;
}

.col_12{
    width: 100%;
}

main .col_4 a{
    width: 210px;
    margin-bottom: 15px;
}

.icona{
    font-size: 30px;
    margin-top: 40px;
}

.jumbo_img{
    margin-left: 30px;
    transform: translateY(35px);
}

 /* BOTTONI */

.button{
    text-align: center;
    padding: 0 20px;
    line-height: 32px; 
    display: block;
    background-color: #0061FF;
    border: 1px solid #0061FF;
    color: white; 
}






