/* Regole Generali */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Noto Sans Display', sans-serif;
    font-size: 14px;
}

img {
    max-width: 100%;
    display: block;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

a {
    text-decoration: none;
    color: currentColor;
}

/* ////////////////////////////////////// */

header .container{
    max-width: 100%;
    padding: 21px 19px;
    border-bottom: 1px solid lightgray;
}

.container{
    margin: 0 auto;
}

.section{
    padding: 0 15px;
    margin-top: 200px;
}

.col_4{
    width: 33.33%;
}

.col_8{
    width: 66.66%;
}

.col_12{
    width: 100%;
}


/* MENU */

.logo{
    float: left;
    height: 16px;
    width: 76px;
    display: block;
}

.row [class^="col"]{
    float: left;
}

.row .col.fr{
    float: right;
}

.col-sx{
    line-height: 27px;   
}


header .col-sx li, header .col-dx li{
    display: inline-block;
    vertical-align: middle;
    padding: 0 22px;    
}

/* MAIN */
/* section1 */

main .container{
    max-width: 100%;
    padding: 50px 50px ;
    background-color: rgb(185,208,229);
    display: block;
    height: 750px;
}

main .row{
    margin: 10px 100px;
}

#section1 h1{
    font-size: 70px;
}

#section1 .row p:first-child{
    width: 350px;
    height: 125px;
    margin-top: 30px;
}

#section1 .col_4 a{
    width: 210px;
    margin-bottom: 15px;
}

.icona{
    font-size: 30px;
    margin-top: 40px;
}

.jumbo_img{
    margin-left: 30px;
    transform: translateY(35px);
}

/* section2 */

#section2 .col_12 .titolo_section2{
    font-size: 40px;
    margin-bottom: 40px;
}

#section2{
    padding: 0 150px;
}

#section2 .col_12 span{
    margin-right: 10px;
}

#section2 .col_4{
    margin: 30px 20px 30px 0;
    width: 400px;
}

#section2 .col_4 .body_card{
    height: 800px;
}

#section2 .col_12 .body_card{
    height: 200px;
    margin-bottom: 300px;
}

#section2 .col_12{
    width: 1240px;
}

#section2 .col_4 p::after{
    content: "";
    display: block;
    clear: both;
    border-bottom: 1px solid lightgray;
    width: 40px;
    padding-top: 20px;
}

.card4_txt{
    color: black;
}

.card4_txt h4{
    padding: 20px 0;
}

.titolo_card{
    text-align: center;
    padding: 5px 0;
    font-size: 18px;
    border: 1px solid lightgray;
}

.body_card{
    border: 1px solid lightgray;
    padding: 40px 45px;
}

.body_card h4{
    margin: 10px 0;
}

.body_card span{
    color: grey;
}

.body_card ul{
    margin-top: 30px;
}

.body_card ul li{
    margin: 20px 0;
    list-style-type: none;
}

.body_card p a{
    text-decoration: underline;
    color: #0061FF;   
}

.body_card p{
    margin: 20px 0;
}

.lista_body_card li{
    font-size: 10px;
}

.lista_body_card li i{
    color: #0061FF;
}




 /* BOTTONI */

.button{
    text-align: center;
    padding: 0 20px;
    line-height: 32px; 
    display: block;
    background-color: #0061FF;
    border: 1px solid #0061FF;
    color: white; 
}






